<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUFeedURL</key>
    <string>https://github.com/soca-projects/socadb-desktop/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>JFF5bCjXSk4cwk7i3tHOHwaCp1yMercU7osKZ9x8LEc=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <true/>
</dict>
</plist>
